---
layout: default
title: Blog
---

<section class="blog grid">


  <div class="col-12 primary-post">

    <div class="grid">
    {% for post in site.posts limit:1 %}

    <div class="col-5_sm-12 primary-img">

      <img src="{{post.featured_image}}">

    </div>

    <div class="col-6_sm-12 primary-info">
      <h2> {{post.title}}</h2>
      <br>
      <p>{{post.description}}</p>
      <br><br>

      <a href="{{post.url}}" class="button-fill"> Leer Mas </a>
    </div>
    {% endfor %}

  </div>
</div>

<div class="col-12">
<div class="allposts grid">

{% for post in site.posts %}

<div class="col-4_sm-12 post-preview">
  <div class="blog-loop-background index-blog-img" style="background-image:url({{post.featured_image}})">
  </div>
  <div class="blog-loop-info centered">
    <h2> {{post.title}}</h2>
    <br>
    <p> {{post.description}}</p>
    <br>
    <a href="{{post.url}}" class="button-expand"><span> Leer Mas</span> </a>
  </div>
</div>

{% endfor %}
</div>
</div>

</section>
