


p.purple{
  color:#AC92B7;
}


h2.purple{
   color:#AC92B7;
}

h3.purple{
  color:#AC92B7;
}

h4.purple{
  color:#AC92B7;
}



img.one-third {
  display: inline-block;
  width: calc(33% - 1rem);
  height:33%;
}

img.two-thirds {
  display: inline-block;
  width: calc(66% - 1rem);
  height:66%;
}

img.one-half {
  display: inline-block;
  width: calc(50% - 1rem);
  height:50%;
}

img.float-left {
  max-width:50%;
  height:50%;
  float: left;
  margin: 0 2rem 0.5rem 0 !important;
}

img.float-right {
  max-width:50%;
  height:50%;
  float: right;
  margin: 0 0 0.5rem 2rem !important;
}

img.small-centered {
  max-width: 300px;
  margin:auto;
}

p.clear-images-paragraph {
  clear: both;
}

h2.clear-images-h2 {
  clear: both;
}
h3.clear-images-h3 {
  clear: both;
}

.align-to-left {
  text-align: left;
}
.align-to-center {
  text-align: center;
}
.align-to-right {
  text-align: right;
}
