---
layout: default
title: Home Page
page_blocks:
  - _id: quote-img-right
    background_image: /uploads/dra-mardach.jpg
    heading: La Medicina del futuro está presente hoy y se encuentra a su alcance.
  - _id: two-col
    heading: Service Title Here
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    link_url: 'https://radioactive-wheelbarrow.cloudvent.net/services'
    link-text: Learn More
    second-heading: Second Service Here
    second-description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    second-link_url: google.com
    second-link-text: Learn More
  - _id: fixed-bg
    background_image: /uploads/lightdna.jpg
  - _id: text
    heading: Hi I'm Dr. Mardach!
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.</p><p>&nbsp;</p><p>Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  - _id: recent-posts
    heading: Recent Posts
    link_url: google.com
    link-text: See All Posts
---

{% for block in page.page_blocks %}

  {% include blocks/{{block._id}}.html block=block %}

{% endfor %}





</section>
