---
layout: default
title: Home Page
page_blocks:
  - _id: quote-img-left
    block-class: height100
    featured_image: /uploads/dra-mardach-2.jpg
    background_image: /uploads/neww.png
    heading: La Medicina del futuro está presente hoy y se encuentra a su alcance.
  - _id: three-col
    block-class:
    background-color:
    first-featured_image: /uploads/national-cancer-institute-nfvdkihxylu-unsplash.jpg
    heading: Diagnostico Genético Clínico
    description_html: >-
      <p>El diagnostico preciso de un desorden gen&eacute;tico es frecuentemente
      dif&iacute;cil porque la mayor&iacute;a de estas enfermedades son poco
      comunes or extremadamente raras...</p>
    link_url: /services.html
    link-text: Ver Mas
    second-featured_image: /uploads/clay-banks-cezmop5ftv4-unsplash.jpg
    second-heading: Asesoría Genetica Individual O Familiar
    second-description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
    second-link_url: /services.html
    second-link-text: Ver Mas
    third-featured_image: /uploads/jaron-nix-7wwrxewych4-unsplash.jpg
    third-heading: Interpretacíon de Pruebas Genéticas
    third-description_html: >-
      <p>La determinaci&oacute;n de la secuencia de ADN completa de una persona
      puede detectar variaciones gen&eacute;ticas qu&eacute; causan
      enfermedades...</p>
    third-link_url: /services.html
    third-link-text: Ver Mas
  - _id: quote-img-right
    block-class:
    background_color: '#c5e0f0'
    featured_image: /uploads/img-3995.jpg
    background_image:
    heading_html: >-
      <h2>&ldquo;Como genetista cl&iacute;nica he dedicado mi carrera a ayudar a
      las personas a entender el significado de las diferencias que llevamos en
      nuestro genoma individual y a usar esta informaci&oacute;n al tomar
      decisiones importantes en la vida como cuando escogemos una opci&oacute;n
      para tratamiento de una enfermedad o cuando empezamos una
      familia.&rdquo;</h2>
  - _id: sign-up
    background_image: /images/mombkgroundlight copy.png
    heading_html: >-
      <h1 class="align-to-right">Stay in</h1><h1
      class="align-to-right">the</h1><h1 class="align-to-right">Loop</h1>
    embed-code_html:
      embed: true
  - _id: recent-posts
    heading: Recent Posts
    link_url: /blog
    link-text: See All Posts
---

{% for block in page.page_blocks %}

  {% include blocks/{{block._id}}.html block=block %}

{% endfor %}





</section>
