*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:black;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

/* Fonts */



h1{
  font-family: museo-sans, sans-serif;
  font-weight:700;
}

h2{
  font-family: museo-sans, sans-serif;
  font-weight:900;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3{
  font-family: museo-sans, sans-serif;
  font-weight:300;
  font-size:16px;
}

a, p{
  font-family: museo-sans, sans-serif;
  font-weight:100;
  font-size: 15px;
}

/* helper classes */

.centered{
  text-align:center;
}

.space-around{
  display: flex;
  justify-content:space-around;
}

.primary-button{
  width:30%;
  padding:6px 10px;
  background-color:white;
  color:#1D1D1D;
  border-radius:4px;
  transition:0.8s;
  margin:auto;
}

.primary-button:hover{
  background-color: #F4F0F5;
}

.float-left img{
  float: left;
  shape-outside: attr(src url);
  shape-image-threshold: 0.1;
  max-height:35%;
  max-width:35%;
  margin: 1rem 2rem 2rem 0;
}

.float-right img{
  float:right;
  max-height:35%;
  max-width:35%;
  margin:1rem 0 2rem 2rem;
}

.button-filled{
  padding: 8px 15px;
  width: 40%;
  background-color: #8eaec4;
  border-radius: 5px;
  transition: .4s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.button-filled:hover{
  background-color:#D3E7F5;
}

.button-filled-secondary{
  padding:8px 15px;
  width:40%;
  background-color:#F4F0F5;
  border-radius:5px;
  transition:0.4s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.button-filled-secondary:hover{
  background-color:#E9DEEB;
  color:white;
}

.button-expand{
  transition:0.5s;
}

.button-expand:hover{
  letter-spacing: 5px;
}

.burger-menu{
  display:none;
}



/* navs */

.main-nav{
  padding:20px 2rem;
}

/* Title */

.title{
  padding:3rem;
}

.title-quote{
  position:relative;
}

.title-quote h1{
  text-align: right;
  position: absolute;
  bottom: 15%;
  right: 0;
  font-size:48px;
}

.title-img{
  background-image:url("/images/dna-purple.jpg");
  background-position:center;
  background-size:cover;
  height:50vh;
  width:80%;
  margin:auto;
}

/* Services */

.services{
  padding:3rem;
  background-color:#B9D5E8;
}

/* Fixed bg */
.fixed-bg-dark{
  background-image:url("/images/dna-purple.jpg");
  background-position:center;
  background-size:cover;
  padding:10rem;
  background-attachment: fixed;
  z-index:-1;
  min-height: 50vh;
  max-height: 300px;
}

.fixed-bg-light{
  background-image:url("/images/dna-purple.jpg");
  background-position:center;
  background-size:cover;
  padding:10rem;
  background-attachment: fixed;
  z-index:-1;
  min-height: 50vh;
  max-height: 400px;
}

.fixed-bg{
  position:relative;
  background-position:center;
  background-size:cover;
}

.banner{
  position:relative;
  background-position:center;
  background-size:cover;
  padding:10rem;
  background-attachment: fixed;
  z-index:-1;
  min-height: 50vh;
  max-height: 400px;
}

.bk-overlay{
  position:absolute;
  height:100%;
  width:100%;
  padding:5%;
  text-align:center;
  background-color:#b9e2fe91;
  color:black;
  top:0;
  left:0;
  display: flex;
}

.bk-overlay h2{
  margin:auto;
  font-size:30px;
}

.about{
  padding:3rem;
}

.about p{
  width:70%;
  margin:auto;
}

/* Index blog */

.blog-info{
  padding:3rem;
  background-color:#DAC8E2;
}

.blog-info h1{
  margin:20px;
}

.blog-loop-background{
  width:80%;
  margin:auto;
  margin-bottom:10px;
  padding:6rem;
  background-position: center;
  background-size: cover;
}

.recent-posts h1{
  padding-bottom:3rem;
}

.see-more{
  margin-top:4rem;
}

.blog-loop-info{
  padding-top:15px;
  width:80%;
  margin:auto;
}

.blog-loop-info h2{
  font-size:14px;
}

.blog-loop-info a{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

/* Blocks */

.blog{
  padding: 4rem 0;
}

.primary-post{
  background:linear-gradient(white 5%,#b9d5e8 0,#b9d5e8 60%,#b9d5e8 82%, white 5%);
  margin-bottom:-2px;
  padding:2rem 0;
}

.primary-info{
  margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.primary-img{
  margin:auto;
}

.primary-img img{
  width: 100%;
  margin: auto;
  display: flex;
  min-height:40vh;
}

.allposts{
  padding:3rem;
}



.fixed-bg{
  background-attachment:fixed;
  height:400px;
}

.quote-img-right, .quote-img-left{
  padding: 9.5rem 0 6rem;
}

.quote-img-left h1{
  text-align:left;
}


.quote-img{
  background-position:center;
  background-size:cover;
  margin-top: 0;
  padding: 9rem;
  width: 77%;
  margin: auto;
  height: 50vh;
}

.two-col, .three-col{
  padding:5rem 4rem;
  background-color: #B9D5E8;
}

.two-col h1{
  font-size:130px;
  line-height:115px;
  color:#9FC2DB;
  font-family: "Times New Roman", Times, serif;
  padding: 0 5px;
}

.three-col h2{
  width:90%;
  margin:auto;
}

.two-col-text p, .three-col p{
  width: 80%;
  margin: auto;
}

.vl{
  border-right:1px solid black;
}


.text{
  padding:6rem 3rem;
}


.text p{
  width:70%;
  margin:auto;
}

.recent-posts{
  padding:3rem;
  background-color:#DAC8E2;
}


/* About page */

.bio{
  padding:4rem;
}

/* Accordion */

.accordion-button h1{
  border-bottom: 3px solid black;
    padding-top: 14px;
    text-align: center;
}

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 18px 4px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 15px;
  transition: .5s;
  border-bottom: 3px solid black;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.accordion h2{
  padding-bottom:10px;
}


.active, .accordion:hover {
  color: #DAC8E2;
  border-bottom: 3px solid #DAC8E2;
}

.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-top:-17px;
}

.active:after {
  content: "\2212";
  color: #DAC8E2;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
  margin:auto;
  margin-bottom:6px !important;
}

/* services */

.services-pg{
  padding:1rem 3rem;
}

.services-img{
  background-image:url("/images/dnastrands.png");
  background-position:center;
  background-size:cover;
  padding:6rem;
}

.services-info{
  padding:4rem 2rem;
}

.services-info h2{
  text-align: center;
  margin-bottom:20px;
}

.services-bk{
  background-image: url("/images/dna-purple.jpg");
  background-position:center;
  background-size:cover;
  padding:6rem;
  margin: 20px 0;
}

/* Blog Page */


/* Footer */

.footer-info{
  padding:5rem 0;
  background-color:#F4F0F5;
}

.footer-img{
  background-image: url("/images/dna-purple.jpg");
  background-position:center;
  background-size:cover;
  padding:6rem;
}

/* Contact --footer */

.subscription-box input{
  width: 70%;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid black;
  background-color: #ffffff00;
}

.subscription-box h2{
  margin-bottom:20px;
}

/* Contact Page */

.contact{
  padding:4rem;
}

.contact-form{
  background-color:#E7EBEF;
  padding:2rem 4rem;
  text-align:center;
}

.contact-form input{
  padding: 5px;
  width:80%;
  margin:auto;
  margin-bottom:7px;
  font-family: museo-sans, sans-serif;
  font-weight:100;
  font-size: 15px;
  border:none;
}

.contact-form textarea{
  padding: 5px 5px 5rem;
    width: 80%;
    margin-bottom: 7px;
  resize:none;
  font-family: museo-sans, sans-serif;
  font-weight:100;
  font-size: 15px;
  border:none;
}

.contact-button{
  width:60%;
  margin:auto;
  background-color:#FFFFFF;
  border:none;
  transition: 0.3s;
  font-family: museo-sans, sans-serif;
  font-weight:700;
  font-size: 15px;
  text-transform:uppercase;
}

.contact-button:hover{
  background-color:#F4F0F5;
}

@media (max-width:900px){
  .mobil-menu{
  display:block;
}

.burger-button {
right:2vh;
}

.burger-menu{
right:-120%;
width:100%;
background-color: rgba(255,255,255,0.89);
height: 103vh;
background-color: rgba(255,255,255,0.89);
}

.burger-menu.active{
  right:0;
}

.burger-menu a{
font-size:30px;
white-space: normal;
}

.burger-menu{
  display:block;
}

.nav-menu{
  display:none;
}

.burger-button{
  position:fixed;
  top:4vh;
  right:0vh;
  z-index:9;
  padding:8px;
}

.burger-button span{
  width:30px;
  border: 2px solid #DAC8E2;
  background-color:#DAC8E2;
  display: block;
  border-radius:22px;
  transition: 1s;
}

.burger-button.active span{
  background-color:#DAC8E2;
}

.burger-top, .burger-bottom{
  position:absolute;
}

.burger-top{
  top:02px;
}

.burger-bottom{
  bottom:2px;
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
border-color: rgba(0,0,0,0);
background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
position: absolute;
top: 8px;
transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom{
position: absolute;
bottom: 8px;
transform: rotateZ(-45deg);
}


.burger-menu {
  display: none;
  width:100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color:rgba(250, 250, 250, 0.9);
  z-index: 8;
  padding-top:26px;
}

.burger-menu a {
text-decoration: none;
font-size: 20px;
font-weight: 300;
color: #7a7876;
display:block;
padding:1rem 2rem;
text-align: center;
white-space:nowrap;
}

.burger-menu li{list-style:none}

}

.accordion:after {
  content: none;

@media(max-width:726px){
  .quote-img-right{
    padding:2rem;
  }

  .vl{
    display: none;
  }
}
