---
layout: default
title: Tester
page_blocks:
  - _id: fixed-bg
    background_image: /uploads/millesime-cover-1.jpg
  - _id: quote-img-right
    background_image: /uploads/444b0333308c1133b3783c76fe629c23-1.jpg
    heading: HELLO THERE SIR
  - _id: two-col
    heading: Service One
    description: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    link-url: 'http://www.google.com'
    link-text: Google
    second-heading: Service Two
    second-description: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    second-link-url: 'http://www.google.com'
    second-link-text: Google
---

{% for block in page.page_blocks %}

  {% include blocks/{{block._id}}.html block=block %}

{% endfor %}
