<section class="grid quote-img-right {{block.block-class}}" style="background-image:url({{block.background_image}}); background: linear-gradient(0deg, rgba(255,255,255,1) 6%, {{block.background_color}} 5%, {{block.background_color}} 93%, rgba(255,255,255,1) 74%);">


  <div class="col-7_sm-12 title-quote">
    <h1> {{block.heading_html}} </h1>
  </div>


  <div class="col-5_sm-12 title-img-wrapper display-none">
      <div class="quote-img" style="background-image:url({{block.featured_image}})"></div>
  </div>

</section>
