<section class="grid recent-posts {{block.block-class}} centered">

  <h1 class="col-12 centered">{{block.heading}}</h1>

  {% for post in site.posts limit:3 %}
  <div class="col-4_sm-12 post-preview">
    <div class="blog-loop-background index-blog-img" style="background-image:url({{post.featured_image}})">
    </div>
    <div class="blog-loop-info centered">
      <h3> {{post.title}}</h3>
      <br>
      <a href="{{post.url}}" class="button-expand"><span> Leer Mas</span> </a>
    </div>
  </div>
{% endfor %}

<div class="col-12 see-more">

  <a href="{{block.link_url}}" class="button-filled-secondary"> {{block.link-text}} </a>

</div>

</section>
