<section class="sign-up grid {{block.block-class}}">

  <style>
    background-image: {{background_image}};
  </style>

  <div class="col-6_sm-12 signup-text">
    <h1> {{block.heading_html}}</h1>
  </div>

  <div class="col-6_sm-12 newsletter-signup" style="color:black;">
      <form class=" subscription-box schedule centered services-form" action="" method="POST">
        <h2> Let's Keep In Touch </h2>
        <input type="text" name="name" class="contact-input" placeholder="Your Name"></input>
        <input type="email" name="_replyto" class="contact-input" placeholder="Your Email"></input>
      </form>
  </div>
</section>
