<section class="three-col grid {{block.block-class}}">

  <div class="col-4_sm-12 centered three-col-text">
    <div style="padding:5%">
      <div class="three-col-img" style="background-image:url({{block.first-featured_image}})"></div>
    </div>
    <h2>{{block.heading}}</h2>

    <br>

    <p>{{block.description_html}}</p>

    <br><br>
    {% unless block.link-text == nil %}
      <a href="{{block.third-link_url}}" class="{{block.block-class}} button-filled">{{block.third-link-text}}</a>

    {% endunless %}


  </div>



  <div class="col-4_sm-12 centered three-col-text">
    <div style="padding:5%">
      <div class="three-col-img" style="background-image:url({{block.second-featured_image}})"></div>
    </div>

    <h2>{{block.second-heading}}</h2>

    <br>

    <p>{{block.second-description_html}}</p>

    <br><br>
    {% unless block.link-text == nil %}
      <a href="{{block.third-link_url}}" class="{{block.block-class}} button-filled">{{block.third-link-text}}</a>

    {% endunless %}

  </div>


  <div class="col-4_sm-12 centered three-col-text">
    <div style="padding:5%">
      <div class="three-col-img" style="background-image:url({{block.third-featured_image}})"></div>
    </div>
    <h2>{{block.third-heading}}</h2>

    <br>

    <p>{{block.third-description_html}}</p>

    <br><br>

    {% unless block.link-text == nil %}
      <a href="{{block.third-link_url}}" class="{{block.block-class}} button-filled">{{block.third-link-text}}</a>

    {% endunless %}
  </div>

</section>
