<section class="two-col grid">

  <div class="col-4_sm-12 centered">
    <h2>{{block.heading}}</h2>

    <br>

    <p>{{block.description}}</p>

    <br><br>
    <a href="{{block.link_url}}" class="{{block.block-class}}">{{block.link-text}}</a>
  </div>

  <div class="col-2 and">
    <h1>&</h1>
  </div>

  <div class="col-4_sm-12 centered">
    <h2>{{block.heading}}</h2>

    <br>

    <p>{{block.description}}</p>

    <br><br>
    <a href="{{block.link_url}}" class="{{block.block-class}}">{{block.link-text}}</a>
  </div>
