<section class="two-col grid {{block.block-class}}">
  <style>
    background-color: {{background-color}};
  </style>

  <div class="col-5_sm-12 centered">
    <h2>{{block.heading}}</h2>

    <br>

    <p>{{block.description_html}}</p>

    <br><br>
    <a href="{{block.link_url}}" class="{{block.block-class}}">{{block.link-text}}</a>
  </div>

  <div class="col-2 and centered">
    <h1>&</h1>
  </div>

  <div class="col-5_sm-12 centered">
    <h2>{{block.second-heading}}</h2>

    <br>

    <p>{{block.second-description_html}}</p>

    <br><br>
    <a href="{{block.second-link_url}}" class="{{block.block-class}}">{{block.second-link-text}}</a>
  </div>

</section>
