<section class="three-col grid">

  <div class="col-4_sm-12 centered">
    <h2>{{block.heading}}</h2>

    <br>

    <p>{{block.description_html}}</p>

    <br><br>
    <a href="{{block.link_url}}" class="{{block.block-class}}">{{block.link-text}}</a>
  </div>


  <div class="col-4_sm-12 centered">
    <h2>{{block.second-heading}}</h2>

    <br>

    <p>{{block.second-description_html}}</p>

    <br><br>
    <a href="{{block.second-link_url}}" class="{{block.block-class}}">{{block.second-link-text}}</a>
  </div>

  <div class="col-4_sm-12 centered">
    <h2>{{block.third-heading}}</h2>

    <br>

    <p>{{block.third-description_html}}</p>

    <br><br>
    <a href="{{block.third-link_url}}" class="{{block.block-class}}">{{block.third-link-text}}</a>
  </div>

</section>
